.icon-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.icon-row__dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  right: -5px;
  top: -10px;
}

.icon-row__icon i {
  font-size: 35px;
  position: relative;
}

.icon-row__icon span:not(.icon-row__dot) {
  margin-top: 25px;
  margin-bottom: 20px;
}
